<% if @user.errors.any? %>
  <h2> The following errors occurred</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @user) do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    The submit button will trigger the 'create' or 'update'(it depends if you create a new user or update an old one) method from users_controller.rb
    <br>
    <%= f.submit(@user.new_record? ? "Sign Up" : "Update account")%>
  </p>


<% end %>
