<% if @report.errors.any? %>
  <h2> The following errors occurred</h2>
  <ul>
    <% @report.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @report) do |f| %>
  <% if @report.user %>
    <p>
      by <%= @report.user.username %>
      <%= link_to gravatar_for(@report.user, size: 200), user_path(@report.user) %>
    </p>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    The submit button will trigger the 'update' method from reports_controller.rb
    <br>
    <%= f.submit %>
  </p>


<% end %>
