<table>
  <thead>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody >
  <% obj.each do |report| %>
    <tr>
      <% if report.user %>
        <td><%= link_to report.user.username, user_path(report.user)%></td>
      <% end %>
      <td><%= report.title %></td>
      <td><%= report.description %></td>
      <td>
        <%= link_to 'Show', report_path(report), method: :get %>
        <% if logged_in? && ( report.user == current_user || current_user.admin? )%>
          <%= link_to 'Edit', edit_report_path(report) %>
          <!--    link_to = set the label of the button
                  report_path(report) = set the url that this link will access
                  method => specifies the TYPE of request we want to execute. This case a DELETE request-->
          <%= link_to 'Delete', report_path(report), method: :delete, data: { confirm: " Confirm Report deletion"} %>
        <% end %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
